    @font-face {
                    font-family: alegreyaSans;
                    src: url(fonts/AlegreyaSans.ttf);
        }
    

 body {
            /*margin-left: 50%;*/
          
            text-align: center;
            font-size: 2em;
            background-color:#000000;
            color: #ffffff; 
            font-family: "alegreyaSans", serif;
            border-style: solid;
            border-color: #ffffff;
            border-width: 20px;
        }

.lgo{
            cursor: url('image/pixelArrow.png'), auto;
            
        }
.lgoo{
            cursor: no-drop;
            
        }

.bkgrnd {   
            background-image: url(image/spaceBkgrnd.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }

.bkgrndTwo {
            background-image: url(image/birds.png);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: center;
    }

.imgSize{
            width: 45%;
            height: 45%;
    }





      [class*="col-"] {
            float: left;
           
            overflow: hidden;
        }

        .col-1 {width: 50%;}
        .col-2 {width: 33%;}
        .col-3 {width: 25%;}
       

        .row::after {
          content: ""; /* there will be no content after each row - try deleting this property or inserting some text to see what happens*/ 
          clear: both; /* BOTH sides of the element will be CLEAR - nothing can appear there*/
          display: table;/*makes the elements appear as a grid - ie the squares in a horizontal row will remain the same height*/
        }


        @media only screen and (max-width: 1080px) {
          /* For mobile phones: */
              [class*="col-"] {
                width: 100%;
              }
            .dropdown {
            position:static;
            display: block;
            }
            
        }